html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Times, Times New Roman, serif;
  font-size: 16px;
  line-height: 1.5em;
  background-image: url("BodyBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #61170e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 75px;
}

.sidenav a {
  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sideText a:hover {
       width: 100%;
       border-radius:2px;
       background:radial-gradient(circle at 94.02% 88.03%, #f58549, transparent 100%);
       transition:all .5s ease;
}
.menuActive{
  width: 100%;
  border-radius:2px;
  background:radial-gradient(circle at 94.02% 88.03%, #e4c0ac, transparent 100%);
}
.activePageIcon{
  position: absolute;
  top: 90vh;
  left: 45%;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
h3 {
  padding: 1%;
  margin: 1%;
  text-transform: uppercase;
}

.autoBox {
  position: relative;
  top: 20vh;
  left: 15%;
  width: 80%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.autoBox span {
  color: #405d27;
  float: right
}

.autoSubBox {
  display: flex;
  flex-flow: column;
  padding: 1%;
  margin: 1% 5%;
  border-radius: 25px;
  border: 2px solid #fff;
  background: #e4c0ac;
  color: #61170e;
  text-align: center;
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
}

.autoSubBoxTable {
  display: flex;
  flex-flow: row;
  text-align: left;
}

.autoSubBoxColumn {
  margin: 1px 10px;
}

.autoSubBoxColumn input {
  float: right;
  width: 3em;
}

.action {
  float: left;
  margin: 0% 3% 5% 15%;
  border-radius: 7px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 16px;
  padding: 2% 6%;
  font-family: Times, Times New Roman, serif;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
}

.actionReset {
  background: #aa4a30;
}

.actionRun {
  background: #405d27;
}

@media(max-width:480px) {
  body {
    background-image: url("MobileBackground.jpg");
  }
  .sidenav {
    padding-top: 60px;
  }
  .sidenav a {
    font-size: 18px;
  }
  h3 {
    padding: 1%;
    margin: 1%;
    font-size: 14px;
  }

  h4 {
    margin: 5px;
    font-size: 13px;
  }

  .autoBox {
    top: 10vh;
    left: 1%;
    width: 90%;
    flex-flow: column;
    justify-content: center;
  }

  .autoSubBoxColumn {
    margin: 0px 1px;
  }

  .autoSubBoxColumn input {
    width: 2em;
  }

  .action {
    float: left;
    margin: 2% 3% 5% 13%;
    -webkit-appearance: button;
  }
}
