html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Times, Times New Roman, serif;
  font-size: 16px;
  line-height: 1.5em;
  background-image: url("BodyBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #61170e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 75px;
}

.sidenav a {
  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sideText a:hover {
       width: 100%;
       border-radius:2px;
       background:radial-gradient(circle at 94.02% 88.03%, #f58549, transparent 100%);
       transition:all .5s ease;
}
.menuActive{
  width: 100%;
  border-radius:2px;
  background:radial-gradient(circle at 94.02% 88.03%, #e4c0ac, transparent 100%);
}
.activePageIcon{
  position: absolute;
  top: 90vh;
  left: 45%;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.button {
  /*Border*/
  border-radius: 25px;
  border: 2px solid #fff;
  /* Font and Color */
  color: #61170e;
  font-family: Times, Times New Roman, serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background: #e4c0ac;
  /* Other */
  box-shadow: 0  17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.buttonOne {
  position: absolute;
  top: 35vh;
  left: 18%;
  padding: 8%;
}

.buttonTwo {
  position: absolute;
  top: 35vh;
  left: 50%;
  padding: 2.5% 7%;
}

.buttonThree {
  position: absolute;
  top: 57vh;
  left: 50%;
  padding: 2.5% 8.5%;
}

.button:hover {
   box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0.2);
   transform: translate(0, -10px)
}

@media(max-width:480px) {
  body {
    background-image: url("MobileBackground.jpg");
  }
  .sidenav {
    padding-top: 60px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .button {
    font-size: 20px;
    width: 53%;
  }

  .buttonOne {
    top: 23%;
    left: 19%;
    padding: 7% 14%;
  }

  .buttonTwo {
    top: 46%;
    left: 19%;
    padding: 7% 14%;
  }

  .buttonThree {
    top: 68%;
    left: 19%;
    padding: 7% 14%;
  }
}
