body{
    background-color: #fff;
    font-family: Times, Times New Roman, serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

header{
    background-color:#354f52;
    color:#fff;
    height: 100px;
}
header h1{
    padding: 40px 0px;
    margin: 0px;
}
.container{
    width: 90%;
    margin:auto;
/*    overflow: hidden;*/
}

a{
    text-decoration: none;  
}
nav{
    background-color: #52796f;
    color: #fff;
    height:40px;
}

nav ul{
    padding: 0;
    list-style: none;
    margin: 0px;
    padding:6px 0px;
}
nav li{
    display:inline;
}

nav a{
    color: white;
    font-size: 18px;
    padding-right: 20px;
}
nav a:hover{
    color: #284b63;
}

.content{
    position: relative;
    height: 71vh;
    width: 60%;
}

.button{
    /* Layout*/
    float:left;
    overflow: hidden; /* overflown content will be invisible*/
    padding: 50px;
    margin: 160px 10px;
    /*Border*/
    border-radius: 25px;
    border: 3px solid #fff;
    /* Font and Color */
    color: #fff;
    font-family: Times, Times New Roman, serif;
    font-size: 25px;
    text-align:center;
    text-transform:capitalize;
    background: #284b63;
    /* Other */
    cursor: pointer;
    transition: all 0.4s;
}
.button:hover {
    background-color: #284b63;
    /*color: #dda15e !important;*/
    font-weight: 700 !important;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}
.clr{
    clear:both;
}
#main-footer{
    background: #354f52;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 60px;
    
}
@media(max-width:480px){
    .content{
        width:100%;
	height: 73vh;
    }
    .button{
        float:none;
	margin:18px 70px;
	padding: 40px;
	min-width: 200px;
    }
    header{
   	height: 80px;
    }

    header h1{
	padding:30px 0px;
	font-size: 30px;
    }
    nav a{
    	padding-right: 10px;
	font-size: 17px;	
    }
}   