body{
    background-color: #fff;
    font-family: Times, Times New Roman, serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

header{
    background-color:#354f52;
    color:#fff;
    height: 100px;
}
header h1{
    padding: 40px 0px;
    margin: 0px;
}
.container{
    width: 90%;
    margin:auto;
/*    overflow: hidden;*/
}

a{
    text-decoration: none;  
}
nav{
    background-color: #52796f;
    color: #fff;
    height:40px;
}

nav ul{
    padding: 0;
    list-style: none;
    margin: 0px;
    padding:6px 0px;
}
nav li{
    display:inline;
}

nav a{
    color: white;
    font-size: 18px;
    padding-right: 20px;
}
nav a:hover{
    color: #284b63;
}

.content{
    position: relative;
    height: 71vh;
    width: 60%;
}

.plant{
/*    display:inline-block;*/
    float: left;
    border-radius: 25px;
    border: 3px solid #fff;
    color: #fff;
    background: #284b63;
    width: 20%;
    text-align: center;
    margin: 25px;
    padding: 10px;
    min-width: 60px;
}
.plant h3{
    margin: 0px;
    padding: 10px;
}
.group{
    float:left;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
/*
  -webkit-transition: .4s;
  transition: .4s;
*/
  border-radius: 60px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
/*  -webkit-transition: .4s;
  transition: .4s;*/
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#main-footer{
    background: #354f52;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    position: absolute;
    width: 100%;
    height: 60px;
}

@media(max-width:480px){
    .content{
        width:100%;
	height: 73vh;
    }
    header{
   	height: 80px;
    }

    header h1{
	padding:30px 0px;
	font-size: 30px;
    }
    .plant{
   	margin:10px 9px;
	padding:10px;
	min-height:110px;	
    }
    nav a{
    	padding-right: 10px;
	font-size: 17px;	
    }
}   
