html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Times, Times New Roman, serif;
  font-size: 16px;
  line-height: 1.5em;
  background-image: url("BodyBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #61170e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 75px;
}

.sidenav a {
  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sideText a:hover {
       width: 100%;
       border-radius:2px;
       background:radial-gradient(circle at 94.02% 88.03%, #f58549, transparent 100%);
       transition:all .5s ease;
}
.menuActive{
  width: 100%;
  border-radius:2px;
  background:radial-gradient(circle at 94.02% 88.03%, #e4c0ac, transparent 100%);
}
.activePageIcon{
  position: absolute;
  top: 90vh;
  left: 45%;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.weatherResults {
  position: absolute;
  top: 22vh;
  left: 13%;
  padding: 2%;
  border-radius: 15px;
  background: #fff;
  color: #61170e;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
  width: 65%;
}

.icon{
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px; /* Adjust according to image size to push text across. */
}
.tempIcon{
    background-image: url(Temperature.svg);
}
.pressureIcon{
    background-image: url(Pressure.svg);
}
.humidityIcon{
    background-image: url(Humidity.svg);
}
.windIcon{
    background-image: url(Windspeed.svg);
}
.sunriseIcon{
    background-image: url(Sunrise.svg);
}
.sunsetIcon{
    background-image: url(Sunset.svg);
}

h2{
  margin :0%;
}
h3{
  margin :0%;
}
.sectionLeft{
    float: left;
    text-align: left;
    margin-left: 20%;
    margin-right: 5%;
}
.sectionRight{
    float: left;
    text-align: left;
    margin-left: 5%;
    margin-right: 20%;
}

@media(max-width:480px) {
  body {
    background-image: url("MobileBackground.jpg");
  }
  .sidenav {
    padding-top: 60px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .weatherResults {
    top: 18vh;
    left: 10%;
    padding: 2%;
    border-radius: 15px;
    background: #fff;
    color: #61170e;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
    width: 65%;
  }
  .sectionLeft{
      float: none;
      text-align: left;
      margin-left: 18%;
      margin-right: 5%;
  }
  .sectionRight{
      float: none;
      text-align: left;
      margin-left: 18%;
      margin-right: 5%;
  }

}
