<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Balcony Irrigation System</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <div class="header">
    <h2>Balcony Watering System</h2>
  </div>

  <div class="row">
    <div class="column1">
      <a href="/Watering/" class="button">Watering</a>
    </div>
    <div class="column2">
      <a class="button" href="sensors.html">Sensors</a>
    </div>
    <div class="column3">
        <a class="button" href="weather.html">Weather</a>
    </div>
  </div>

  <div class="footer">
    <p>Footer</p>
  </div>
</html>
