<!DOCTYPE html>
  <head>
    <title>Balcony Irrigation System</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <h1>Balcony Irrigation System</h1>
    <h2>Control</h2>
    <div>
	<h3>Plant One:
      		<a href="/Watering/plantOne/on" class="button">TURN ON</a>
      		<a href="/Watering/plantOne/off" class="button">TURN OFF</a>
	</h3>
    </div>
    <div>
	<h3>Plant Two:
		<a href="/Watering/plantTwo/on" class="button">TURN ON</a>
		<a href="/Watering/plantTwo/off" class="button">TURN OFF</a>
	</h3>
    </div>
    <div>
	<h3>Plant Three:
		<a href="/Watering/plantThree/on" class="button">TURN ON</a>
		<a href="/Watering/plantThree/off" class="button">TURN OFF</a>
	</h3>
    </div>
    <div>
	<h3>Plant Four:
		<a href="/Watering/plantFour/on" class="button">TURN ON</a>
		<a href="/Watering/plantFour/off" class="button">TURN OFF</a>
	</h3>
    </div>
    <div>
	<h3>Plant Five:
		<a href="/Watering/plantFive/on" class="button">TURN ON</a>
		<a href="/Watering/plantFive/off" class="button">TURN OFF</a>
	</h3>
    </div>
    <div>
	<h3>Plant Six:
		<a href="/Watering/plantSix/on" class="button">TURN ON</a>
		<a href="/Watering/plantSix/off" class="button">TURN OFF</a>
	</h3>
    </div>
    <div>
	<h3>Plant Seven:
		<a href="/Watering/plantSeven/on" class="button">TURN ON</a>
		<a href="/Watering/plantSeven/off" class="button">TURN OFF</a>
	</h3>
    </div>

    <h2>Status</h2>
    <h3>Plant One Status: {{ plantOne }}</h3>
    <h3>Plant Two Status: {{ plantTwo }}</h3>
    <h3>Plant Three Status: {{ plantThree }}</h3>
    <h3>Plant Four Status: {{ plantFour }}</h3>
    <h3>Plant Five Status: {{ plantFive }}</h3>
    <h3>Plant Six Status: {{ plantSix }}</h3>
    <h3>Plant Seven Status: {{ plantSeven }}</h3>
    <h3>Pump Status: {{ Pump }}</h3>

  </body>
</html>
