<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>BringNatureInside</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='invalid.css') }}">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Watering/">Watering</a></li>
      <li><a href="/Automation/">Automation</a></li>
      <!-- <li><a href="/Sensors/">Sensors</a></li> -->
      <li><a class="menuActive" href="/Weather/">Weather</a></li>
    </ul>
  </nav>
  <div>
    <div class="box">Coming Soon!!!</div>
  </div>
</body>

</html>
